<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Nombre Completo: <%= nombreCompleto %></p>
    <p>Número de Cédula: <%= cedula %></p>
    <p>Sección: <%= seccion %></p>
</body>
</html>
